html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	/* margin: 0 0 0.5em 0; */
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.flex {
	display: flex;
}

.row-reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: column;
}

.column-reverse {
	flex-direction: column-reverse;
}

.flex-end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.space-evenly {
	justify-content: space-evenly;
}

.v-center {
	align-items: center;
}

.stretch {
	align-items: stretch;
}

.v-end {
	align-items: flex-end;
}

/* get tooltips for the whole application */

[data-tooltip] {
	position: relative;
}

[data-tooltip]::after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: calc(100% + 0.75rem);


	content: attr(data-tooltip);
	text-align: center;
	font-size: medium;
	font-weight: normal;
	color: lightgray;

	background-color: black;
	padding: 0.5rem;

	opacity: 0;
	transition: 50ms opacity ease-in;
	z-index: 10;
}

[data-tooltip]:hover::after {
	opacity: 1;
}